.idea/
venv
day26/so_survey_2019.pdf
day26/survey_results_public.csv
day26/survey_results_schema.csv
stackdata/so_survey_2019.pdf
stackdata/survey_results_public.csv
stackdata/survey_results_schema.csv
